# 2-2. Appendix-Multivariate Linear Regression and Gradient Descent

## Python String format( ) Method

In this notebook, we investigate many symbols that are used in Python string format in this section. This section is actually extracted from 
<a href="https://www.w3schools.com/python/ref_string_format.asp"> w3schools </a>.

### (1) String format

The following four cells show four methods how to use string format.
The outputs of `txt`, `txt1`, `txt2` and `txt3` are the same.

In [1]:
where = "the beach"
when = "two weeks ago"

txt = "I went to {} {}.".format(where, when)
print(txt)

I went to the beach two weeks ago.

In [2]:
txt1 = "I went to {where} {when}.".format(where = "the beach", when = "two weeks ago")
print(txt1)

I went to the beach two weeks ago.

In [3]:
txt2 = "I went to {0} {1}.".format("the beach", "two weeks ago")
print(txt2)

I went to the beach two weeks ago.

In [4]:
txt3 = "I went to {} {}.".format("the beach", "two weeks ago")
print(txt3)

I went to the beach two weeks ago.

### (2) :<

left-alignes within the available space.

Is it `variable`and n spaces ???

In [5]:
txt = "I like {:<10} and {:<20} a lot.".format("Oranges", "Melons")
print(txt)

I like Oranges    and Melons               a lot.

### (3) :> 

right-alignes within the available space.

Is it n spaces and `variable`???

In [6]:
txt = "I like {:>10} and {:>20} a lot.".format("Oranges", "Melons")
print(txt)

I like    Oranges and               Melons a lot.

### (4) :^

center-aligns within the available space.

Is it n/2 spaces, `variable` and n/2 spaces???

In [7]:
txt = "I like {:^10} and {:^20} a lot.".format("Oranges", "Melons")
print(txt)

I like  Oranges   and        Melons        a lot.

### (5) :=

places the minus sign to the left most position.

In [8]:
txt = "It is {:=10} degrees outside and {:=20} degrees inside.".format(+5, -2)
print(txt)

It is          5 degrees outside and -                  2 degrees inside.

### (6) :+

Use a plus sign to indicate if the result is positive or negative.

In [9]:
txt = "It is {:+10} degrees outside and {:+20} degrees inside.".format(+5, -2)
print(txt)

It is         +5 degrees outside and                   -2 degrees inside.

### (7) :-		
Use a minus sign for negative values only.

In [10]:
txt = "It is {:-10} degrees outside and {:-20} degrees inside.".format(+5, -2)
print(txt)

It is          5 degrees outside and                   -2 degrees inside.

### (8) : 		
Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)

In [11]:
txt = "It is {:10} degrees outside and {:20} degrees inside.".format(+5, -2)
print(txt)

It is          5 degrees outside and                   -2 degrees inside.

### (9) :,	
Use a comma as a thousand separator

In [12]:
txt = "Count from {:,} to {:,} while I cook.".format(-20000, 9000000)
print(txt)

Count from -20,000 to 9,000,000 while I cook.

### (10) :_		
Use a underscore as a thousand separator

In [13]:
txt = "Count from {:_} to {:_} while I cook.".format(-20000, 9000000)
print(txt)

Count from -20_000 to 9_000_000 while I cook.

### (11) :b		
Binary format

In [14]:
txt = "9 is {:b} in binary system.".format(9)
print(txt)

9 is 1001 in binary system.

### (12) :e		
Scientific format, with a lower case e

In [15]:
txt = "What is the scientific format of {:e}?".format(9)
print(txt)

What is the scientific format of 9.000000e+00?

### (13) :E
Scientific format, with an upper case E

In [16]:
txt = "What is the scientific format of {:E}?".format(9)
print(txt)

What is the scientific format of 9.000000E+00?

### (14) :f
Fix point number format, default with 6 decimals.

In [17]:
txt = "9 is denoted by {:.2f} here and {:f} there.".format(9, 9)
print(txt)

9 is denoted by 9.00 here and 9.000000 there.

### (15) :F
Fix point number format, in uppercase format (show inf and nan as INF and NAN)

In [18]:
txt = "9 is denoted by {:.2F} here and {:F} there.".format(9, 9)
print(txt)

9 is denoted by 9.00 here and 9.000000 there.

In [19]:
x = float('inf')
y = float('nan')


txt1 = "A is {:F} and B is {:F}.".format(x,y)
print(txt1)


txt2 = "A is {:f} and B is {:f}.".format(x,y)
print(txt2)

A is INF and B is NAN.
A is inf and B is nan.

### (16) :o		
Octal format

In [20]:
txt = "9 is {:o} in octal system.".format(9)
print(txt)

9 is 11 in octal system.

### (17) :x		
Hex format, lower case

In [21]:
txt = "107 is represented as {:x} in hexadecimal representation.".format(107)
print(txt)

107 is represented as 6b in hexadecimal representation.

### (18) :X	
Hex format, upper case

In [22]:
txt = "107 is represented as {:X} in hexadecimal.".format(107)
print(txt)

107 is represented as 6B in hexadecimal.

### (19) :%		
Percentage format

In [23]:
txt1 = "{:%} of the universe".format(0.19)
print(txt1)


txt2 = "{:.0%} of the universe".format(0.19)
print(txt2)

19.000000% of the universe
19% of the universe

### (20) Applications

In [24]:
popularity = [["Music", 2021, 2020, 2019, 2018, 2017], 
          ["Claasic", 5, 5, 5, 5, 5],
          ["Jazz", 5, 5, 3, 3, 3],
          ["Rock", 3, 3, 2, 2, 2],
          ["Pop", 2, 2, 1, 1, 1],
          ["Others", 5, 5, 4, 3, 3]]
string_format = "{:<20}  {:>5}  {:>5}  {:>5}  {:>5}  {:>5}"

for n in popularity:
    print(string_format.format(*n))

Music                  2021   2020   2019   2018   2017
Claasic                   5      5      5      5      5
Jazz                      5      5      3      3      3
Rock                      3      3      2      2      2
Pop                       2      2      1      1      1
Others                    5      5      4      3      3